<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        {% if request.cookies.get('lang', 'english') == 'english' %}
                        ProxyPool Admin
                        {% else %}
                        ProxyPool控制台
                        {% endif %}</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    {% include 'li_user.html' %}
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            {% if request.cookies.get('lang', 'english') == 'english' %}
                            <li>
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i>Overview</a>
                            </li>
                            <li>
                                <a href="/rules"><i class="fa fa-dashboard fa-fw"></i>Rule management</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i>总览</a>
                            </li>
                            <li>
                                <a href="/rules"><i class="fa fa-dashboard fa-fw"></i>规则管理</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#wrapper -->
        {% include 'footer.html' %}

        {% block more_js %}
        {% endblock %}
    </body>

</html>
