<!-- jQuery -->
<script src="/static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Flot Charts JavaScript -->
<script src="/static/vendor/flot/excanvas.min.js"></script>
<script src="/static/vendor/flot/jquery.flot.js"></script>
<script src="/static/vendor/flot/jquery.flot.pie.js"></script>
<script src="/static/vendor/flot/jquery.flot.resize.js"></script>
<script src="/static/vendor/flot/jquery.flot.time.js"></script>
<script src="/static/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>

<!-- DataTables JavaScript -->
<script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>


<!-- Custom Theme JavaScript -->
<script src="/static/dist/js/sb-admin-2.js"></script>
