<!-- jQuery -->
<script src="/static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/static/vendor/raphael/raphael.min.js"></script>
<script src="/static/vendor/morrisjs/morris.min.js"></script>
<script src="/static/data/morris-data.js"></script>

<!-- Flot Charts JavaScript -->
<script src="/static/vendor/flot/excanvas.min.js"></script>
<script src="/static/vendor/flot/jquery.flot.js"></script>
<script src="/static/vendor/flot/jquery.flot.pie.js"></script>
<script src="/static/vendor/flot/jquery.flot.resize.js"></script>
<script src="/static/vendor/flot/jquery.flot.time.js"></script>
<script src="/static/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="/static/dist/js/sb-admin-2.js"></script>
<script src="/static/js/data.js"></script>
